* {
    box-sizing: border-box;
}

form {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.subtitle h2 {
    font-family: 'Sawarabi Gothic Regular', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0.5rem 0;
    font-weight: 600;
}

.subtitle p {
    font-family: 'Sawarabi Gothic Regular', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: #f3f3f3;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0.5rem 0;
    line-height: 1.4;
}

.full-width-container {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-container > input {
    max-width: 600px;
    width: 100%;
}

.illust-url-input,
.illust-range-input {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 1rem;
}

.radio-group label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #f3f3f3;
    /* padding: 0.5rem 1rem; */
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: baseline;
    gap: 1rem;
    width: 100%;
}

.download-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 60%;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: none;
    background: #ffffff;
    color: #0096fa;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.download-button:hover {
    background: #f0f0f0;
}

.download-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@font-face {
    font-family: 'Sawarabi Gothic Regular';
    src: url('../fonts/SawarabiGothic-Regular.ttf') format('truetype');
}

@media (max-width: 600px) {
    form {
        width: 85%;
    }

    .subtitle h2 {
        font-size: 1.25rem;
    }

    .subtitle p {
        font-size: 1rem;
    }
}