@font-face {
  font-family: 'Roboto Condensed';
  src: url('./app/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./app/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./app/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Roboto Condensed', 'Sawarabi Gothic', 'Segoe UI', 'Tahoma', 'sans-serif';
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}